.card{
    border: solid 1px white; 
    width: 15vw;
    height: 20vh; 
    padding:0;
    margin: auto;

}

.cardContent{
    border: 1px white solid;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}